# Dependencies
node_modules/

# Build artifacts
dist/
build/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor directories
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# SQLite database
/server/database/*.db
/server/database/*.db-journal

# Vite build output
/client/dist/
